/* BattleArena.module.css */

/* Conteneur principal pour le résumé des joueurs */
.summary-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  padding: 1rem;
  gap: 2rem;
  box-sizing: border-box;
}

/* Résumé du joueur ou de l'adversaire */
.player-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
  gap: 1rem;
}

/* Titre principal */
.vs-title {
  font-size: 2rem;
  color: #fdac00;
  font-family: 'Press Start 2P', cursive;
  margin: 0;
}

/* Conteneur des personnages */
.characters-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 2rem; */
  /* gap: 2rem; */
  box-sizing: border-box;
  border-radius: 5%;
  background-color: black;
}

/* Sprite des personnages */
.character-sprite {
  /* max-height: 25vh; */
  min-height: 150px;
  min-width:50%;
  transition: 0.5s ease;
  border-radius: 5%;
}

/* Animation d'attaque */
.character-sprite.attack {
  transition: 0.1s;
  transform: translateX(100px);
}

.opponent-sprite.attack {
  transform: translateX(-100px);
}

/* HUD et annonces */
.hud-container {
  width: 100%;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}

.hud-message {
  width: 100%;
  max-width: 96%;
  padding: 1rem;
  background-color: #f0f0f0;
  border-radius: 8px;
  text-align: center;
  font-size: 1.2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Boutons d'attaque */
.action-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.action-button {
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  background-color: #007aff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.action-button:hover {
  transform: scale(1.05);
  background-color: #005bb5;
}
