/* BattleAnnouncer.module.css */

/* Conteneur principal */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #333; /* Fond sombre et sobre */
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

/* Style pour le message */
.message {
  white-space: pre-line;
  font-size: 1rem;
  color: #f1f1f1; /* Texte clair pour contraster avec le fond sombre */
  text-align: left;
  font-weight: 300;
  font-family: 'Arial', sans-serif; /* Police simple et moderne */
  letter-spacing: 1px;
  animation: slideIn 0.5s ease-out;
  text-overflow: ellipsis;
  margin-top:1rem;
}

/* Animation de l'apparition du message */
@keyframes slideIn {
  0% {
      transform: translateX(-100%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}
