.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  letter-spacing: 1px;
  width:15vw;
}

.mainCharacter {
  background-color: #ff4d4d; /* Rouge pour le personnage principal */
  color: #fff;
}

.opponent {
  background-color: #4d79ff; /* Bleu pour l'adversaire */
  color: #fff;
}

.info {
  margin-bottom: 1rem;
  text-align: center;
}

.name {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.health {
  width: 100%;
  margin-top: 0.5rem;
}
