/* Conteneur global de la page */
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
    width: 100vw;
    /* height: 100vh; */
    overflow: hidden; /* Évite les barres de défilement */
}

/* Conteneur vidéo */
.video-container {
    position: relative;
    width: 100vw;
    height: calc(100vh - 2rem); /* Ajuste pour inclure la hauteur exacte du header */
    overflow: hidden; /* Évite les débordements */
}

/* Style de la vidéo */
.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* La vidéo occupe toute la largeur */
    height: 100%; /* La vidéo occupe toute la hauteur */
    object-fit: cover; /* S'adapte au conteneur sans déformation */
    z-index: 1; /* Derrière tout */
}


/* Overlay pour le bouton ou autre contenu */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2); /* Fond semi-transparent */
    pointer-events: none;
    animation: fadeIn 1.5s ease-in-out;
}

/* Animation de fondu */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Overlay pour le bouton */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 140vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: rgba(0, 0, 0, 0.2); Fond semi-transparent */
    pointer-events: none;
    animation: fadeIn 1.5s ease-in-out;
    z-index: 10;
}

/* Style du bouton */
.login-button {
    pointer-events: all; /* Permet d'interagir avec le bouton */
    background-color: #0071e3;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.login-button:hover {
    background-color: #005bb5;
    transform: scale(1.05);
}
