/* global.css */
:root {
  --primary-color: #000; /* Noir élégant */
  --secondary-color: #f5f5f7; /* Gris clair, proche du blanc */
  --accent-color: #0071e3; /* Bleu vif d'Apple */
  --text-color: #333; /* Noir pour le contenu */
  --transition-speed: 0.3s; /* Transitions douces */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,body {
  height : 100%;
  width : 100%;
  background-color: var(--primary-color);
}

body {
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: var(--text-color);
  /* background-color: var(--secondary-color); */
  background-color: var(--primary-color);
}

header {
  display: flex;
  letter-spacing: 1px;
  background-color: var(--primary-color);
  height:2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: var(--secondary-color);
  margin: 1rem 20px;
  font-weight: 500;
  font-size: 17px;
  transition: color var(--transition-speed), transform var(--transition-speed);
}

nav a:hover {
  color: var(--accent-color);
  transform: scale(1.1);
}

nav a.isActive {
  color: var(--accent-color);
  font-weight: bold;
}

main {
  flex:1;
  padding: 50px 20px;
  text-align: center;
  overflow-y: auto;
}

h1 {
  font-size: 3rem;
  color: var(--primary-color);
  margin-bottom: 20px;
}

button {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color var(--transition-speed), transform var(--transition-speed);
}

button:hover {
  background-color: #005bb5;
  transform: scale(1.05);
}
