.carousel_container {
max-width: 600px;
margin: 0 auto;
position: relative;
}

.carousel_item img {
width: 100%;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel_caption {
position: relative;
left: 50%;
transform: translateX(-50%);
background: #6e6e73;
color: white;
font-weight: 600;
padding: 1px;
margin-top: 5px;
border-radius: 5px;
text-align: center;
}

.slick-arrow {
    z-index: 2;
  }
  
  .slick-prev,
  .slick-next {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slick-prev:hover,
  .slick-next:hover {
    background: rgba(0, 0, 0, 0.8);
  }
  
  .slick-dots li button:before {
    color: white;
  }
  
  .slick-dots li.slick-active button:before {
    color: gold;
  }